.box-1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: #e87674;
  min-width: 48px;
  min-height: 48px;
  margin: 4px;
  user-select: none;
}

.box-2{
  background-color: #6fd2f3; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  min-width: 64px;
  min-height: 64px;
  margin: 4px;
  user-select: none;
}

.box-3{
  background-color: #57e457;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  min-width: 32px;
  min-height: 32px;
  margin: 4px;
  user-select: none;
}

#flex-demo{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
}