.sudoku-grid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  background-color: gray;
  width: 450px;
  height: 450px;
  border: 2px solid black;
}

.sudoku-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
}

.sudoku-cell:nth-child(3n) {
  border-right: 2px solid black;
}



